@{
    ViewData["Title"] = "Delete User Page";
}

<div class="text">
    <h3 class="justify-content-around">Enter new user information:</h3>
    <div class="text-body">
        <form method="post">
            <p>
                <p>Enter user index: </p>
                <input type="number" name = "index"/>
            </p>
            <p>
                <input type="submit" value="Send" />
            </p>
        </form>
    </div>
</div>
