@using Homework_Module17.Models
@model UserViewModel

<div class="text-center">
    <h1>First user information:</h1>
    <p>Name: "@Model.Name", sex: "@Model.Sex", country: "@Model.Country", married: "@Model.isMarried"</p>
</div>